body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f5f9;
    font-family: Arial, sans-serif;
}

.osn {
    text-align: center;
}

.bio-text {
    margin-bottom: 20px;
    font-size: 28px;
}

.card {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.info p {
    font-size: 18px;
    margin: 10px 0;
}

.song {
    display: block;
    margin-top: 15px;
    color: blue;
    text-decoration: none;
    font-size: 18px;
}
